h2 {
   text-align: center;
   font-size: xx-large;
   color: red;
}

ul li {
   color: darkblue;
   font-size: 20px;
}

body {
   background-color: violet;
}
body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: Arial;
}
